Hallo {{ booking.user.first_name }},

du hast das folgende Boot verbindlich reserviert:
 
 Boot: {{ booking.boat.type.name }} "{{ booking.boat.name }}"
 Datum: {{ booking.date }}
 Uhrzeit: {{ booking.time_from }} - {{ booking.time_to.time }}
 
Bitte sei pünktlich, da deine Reservierung um genau {{ booking.time_from }} verfällt. Ab dann dürfen andere Vereinsmitglieder das Boot nutzen.

Bitte stelle zudem sicher, dass du bis spätestens {{ booking.time_to.time }} mit dem Segeln fertig bist. 

Falls du die Reservierung nicht nutzen möchtest, storniere deine Reservierung bitte 2 Tage vorher unter http://mein.svpb.de.

Viel Spass!

--
SVPB Lippesee
