Hallo {{ booking.user.first_name }},

du hast das folgende Boot reserviert:
 
 Boot: {{ booking.boat.type.name }} "{{ booking.boat.name }}"
 Datum: {{ booking.date }}
 Uhrzeit: {{ booking.time_from }} - {{ booking.time_to.time }}

Wichtiges:

1. Bitte sei pünktlich. Wenn das Boot ab {{ booking.time_from }} nicht genutzt wird, verfällt die Reservierung.

2. Wenn du das Boot doch nicht nutzen möchtest, storniere bitte deine Reservierung unter http://mein.svpb.de spätestens 2 Tage vorher.

3. Eine zusätzliche Eintragung in die Nutzungsliste im Bootshaus entfällt.

4. Mängel am Boot melde bitte über unser Reservierungssystem unter http://mein.svpb.de


Viel Spass

SVPB Lippesee

http://mein.svpb.de
http://www.svpb.de
